<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsaak.suitmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SuitMobile"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuitMobile">
        <activity
            android:name="com.samsaak.suitmobile.MenuActivity"
            android:exported="false" />
        <activity
            android:name="com.samsaak.suitmobile.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.samsaak.suitmobile.landingPage.LandingPageActivity"
            android:exported="false"></activity>
        <activity
            android:name="com.samsaak.suitmobile.MainActivity"
            android:exported="false" />
    </application>

</manifest>